<!-- login card -->
<div class="container-fluid bg-wrapper">
    <main class="container">
        <div class="row justify-content-center">
            <div class="col-md-4 mt-4">
                <div class="card border-brown mt-5 pb-4">
                    <div class="card-body p-5">
                        <h1 class="fs-3 text-center login-title">Login Portal</h1>
                        <!-- Log in as Employee -->
                        <button class="btn btn-success btn-new w-100 mt-5" routerLink="/employees/login"
                            aria-label="Log in as Employee">
                            Log in as Employee
                        </button>
                        
                        <!-- Log in as Manager -->
                        <button class="btn btn-success btn-new w-100 mt-4" routerLink="/managers/login"
                            aria-label="Log in as Manager">
                            Log in as Manager
                        </button>
    
                        <!-- Log in as Administrator -->
                        <button class="btn btn-success btn-new w-100 mt-4 mb-5" routerLink="/admin/login"
                            aria-label="Log in as Administrator">
                            Log in as Administrator
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>